<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!--<add key="path" value="d:\Task\Calculator\Save.txt"/>-->
        <add key="path" value="Save.txt"/>
        <add key="save" value="Storege.StoreInFile"/>
        <add key="countString" value="10"/>
    </appSettings>
</configuration>